// Colors
$color-primary: #01005b;
$color-main: #fff;
$color-bg-light: #f9f0e5;
$color-bg-dark: #f0eeef;
$color-text-main: #676869;
$color-text-secondary: #828282;
$color-star: #ffb801;

// Typography
$font-size-h1: 38px;
$font-size-h1-mb: 26px;
$font-size-h2: 32px;
$font-size-h2-mb: 26px;
$font-size-h3: 22px;
$font-size-h3-mb: 20px;
$font-size-text: 15px;
$font-size-text-mb: 13px;

// Breakpoints
$bp-mobile: 428px;
$bp-tablet: 850px;
$bp-desktop: 1466px;
